html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 50px;
  padding: 5px;
}

.upload-form {
  /* text-align: center; */
  margin-top: 50px;
  padding: 20px;
  border: .2rem solid #ececec;
  border-radius: 10px;
}

.content {
  margin-top: 50px;
}

.tab-content {
  margin-top: 50px;
}

.action-btn {
  margin: 0 2px;
}

.action-btn-icon {
  display: block;
  height: 20px;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}